<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../static/medecin/styleaccueil.css">
        <title> Prise de rendez-vous</title>
        <li><a href="/medecin/connexion">Se connecter</a></li>
        <li><a href="/medecin/deconnexion">Se déconnecter</a></li>
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    </head>


<!-- Navbar (sit on top) -->
<div class="w3-top">
  <ul class="w3-navbar w3-white w3-wide w3-padding-8 w3-card-2">
      <a  class="w3-margin-left"><b>MEUDON</b> Clinique</a>
    <!-- Float links to the right. Hide them on small screens -->
    <li class="w3-right w3-hide-small">

      <a href="/medecin/connexion" class="w3-left">Connexion</a>
      <a href="/medecin/deconnexion" class="w3-left w3-margin-right">Déconnexion</a>
    </li>
  </ul>
</div>

    <body>
        <h1>Clinique de Meudon</h1>
        <figure>
            {% load static %}
            <img src="{% static "medecin/clinique_meudon.jpeg" %}" alt="Meudon"/>
    		<figcaption>clinique de Meudon</figcaption>
		</figure>
        <h2>Docteurs</h2>

        <ul>
    		<li>Decotigny</li>
    		<li><a href="/medecin/dehaine">Docteur Dehaine</a></li>
    		<li>Hardy</li>
    		<li>Janetta</li>
		</ul>
		<p>salut
		</p>
    </body>
</html>
